body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:750px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:60px;
  top:130px;
  width:360px;
  height:130px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:130px;
}
#u1 {
  position:absolute;
  left:2px;
  top:57px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:78px;
  top:130px;
  width:157px;
  height:64px;
  line-height:20px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:64px;
}
#u3 {
  position:absolute;
  left:0px;
  top:12px;
  width:157px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:244px;
  top:130px;
  width:157px;
  height:64px;
  font-size:12px;
  text-align:right;
  line-height:18px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:64px;
}
#u5 {
  position:absolute;
  left:0px;
  top:23px;
  width:157px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:60px;
  top:91px;
  width:580px;
  height:19px;
  font-size:16px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:580px;
  height:19px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:580px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:78px;
  top:194px;
  width:157px;
  height:36px;
  font-size:14px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:36px;
}
#u9 {
  position:absolute;
  left:2px;
  top:10px;
  width:153px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:244px;
  top:194px;
  width:157px;
  height:36px;
  font-size:14px;
  color:#FFFFFF;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:36px;
}
#u11 {
  position:absolute;
  left:2px;
  top:10px;
  width:153px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:70px;
  top:187px;
  width:340px;
  height:53px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:53px;
}
#u13 {
  position:absolute;
  left:2px;
  top:18px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:140px;
  top:320px;
  width:200px;
  height:80px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:80px;
}
#u15 {
  position:absolute;
  left:2px;
  top:32px;
  width:196px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:240px;
  top:240px;
  width:0px;
  height:80px;
}
#u16_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:94px;
}
#u17 {
  position:absolute;
  left:-50px;
  top:32px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:408px;
  top:162px;
  width:142px;
  height:0px;
}
#u18_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:156px;
  height:20px;
}
#u19 {
  position:absolute;
  left:21px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:550px;
  top:120px;
  width:200px;
  height:80px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:80px;
}
#u21 {
  position:absolute;
  left:2px;
  top:32px;
  width:196px;
  word-wrap:break-word;
}
