body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2140px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:60px;
  top:60px;
  width:360px;
  height:640px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u1 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:480px;
  top:60px;
  width:360px;
  height:640px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u3 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:1320px;
  top:60px;
  width:360px;
  height:640px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u5 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:900px;
  top:60px;
  width:360px;
  height:640px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u7 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:92px;
  top:348px;
  width:116px;
  height:24px;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:24px;
}
#u9 {
  position:absolute;
  left:0px;
  top:4px;
  width:116px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:579px;
  top:174px;
  width:55px;
  height:24px;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:24px;
}
#u11 {
  position:absolute;
  left:0px;
  top:4px;
  width:55px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:579px;
  top:439px;
  width:55px;
  height:24px;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:24px;
}
#u13 {
  position:absolute;
  left:0px;
  top:4px;
  width:55px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:1052px;
  top:127px;
  width:55px;
  height:24px;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:24px;
}
#u15 {
  position:absolute;
  left:0px;
  top:4px;
  width:55px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:1472px;
  top:127px;
  width:55px;
  height:24px;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:24px;
}
#u17 {
  position:absolute;
  left:0px;
  top:4px;
  width:55px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:1194px;
  top:275px;
  width:66px;
  height:24px;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:24px;
}
#u19 {
  position:absolute;
  left:0px;
  top:4px;
  width:66px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:1615px;
  top:382px;
  width:65px;
  height:24px;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:24px;
}
#u21 {
  position:absolute;
  left:0px;
  top:4px;
  width:65px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:1780px;
  top:60px;
  width:360px;
  height:640px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u23 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
