body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2663px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:502px;
  top:60px;
  width:360px;
  height:640px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u1 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:60px;
  top:60px;
  width:360px;
  height:640px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u3 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:948px;
  top:60px;
  width:360px;
  height:640px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u5 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:1389px;
  top:60px;
  width:360px;
  height:640px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u7 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:1860px;
  top:60px;
  width:360px;
  height:640px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u9 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:2303px;
  top:60px;
  width:360px;
  height:640px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u11 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:622px;
  top:396px;
  width:130px;
  height:24px;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:24px;
}
#u13 {
  position:absolute;
  left:0px;
  top:4px;
  width:130px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:175px;
  top:116px;
  width:130px;
  height:24px;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:24px;
}
#u15 {
  position:absolute;
  left:0px;
  top:4px;
  width:130px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:141px;
  top:337px;
  width:69px;
  height:24px;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:24px;
}
#u17 {
  position:absolute;
  left:0px;
  top:4px;
  width:69px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:983px;
  top:317px;
  width:165px;
  height:24px;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:24px;
}
#u19 {
  position:absolute;
  left:0px;
  top:4px;
  width:165px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:2400px;
  top:351px;
  width:165px;
  height:24px;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:24px;
}
#u21 {
  position:absolute;
  left:0px;
  top:4px;
  width:165px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:206px;
  top:565px;
  width:69px;
  height:24px;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:24px;
}
#u23 {
  position:absolute;
  left:0px;
  top:4px;
  width:69px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:1408px;
  top:231px;
  width:89px;
  height:24px;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:24px;
}
#u25 {
  position:absolute;
  left:0px;
  top:4px;
  width:89px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:1408px;
  top:333px;
  width:320px;
  height:40px;
  font-size:12px;
  color:#FFFFFF;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
}
#u27 {
  position:absolute;
  left:12px;
  top:5px;
  width:296px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:1487px;
  top:408px;
  width:35px;
  height:20px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:20px;
}
#u29 {
  position:absolute;
  left:2px;
  top:2px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:1600px;
  top:408px;
  width:35px;
  height:20px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:20px;
}
#u31 {
  position:absolute;
  left:2px;
  top:2px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:1490px;
  top:430px;
  width:35px;
  height:20px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:20px;
}
#u33 {
  position:absolute;
  left:2px;
  top:2px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:1603px;
  top:430px;
  width:35px;
  height:20px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:20px;
}
#u35 {
  position:absolute;
  left:2px;
  top:2px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:1532px;
  top:552px;
  width:35px;
  height:20px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:20px;
}
#u37 {
  position:absolute;
  left:2px;
  top:2px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:1516px;
  top:578px;
  width:35px;
  height:20px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:20px;
}
#u39 {
  position:absolute;
  left:2px;
  top:2px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:1528px;
  top:622px;
  width:35px;
  height:20px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:20px;
}
#u41 {
  position:absolute;
  left:2px;
  top:2px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:1516px;
  top:648px;
  width:35px;
  height:20px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:20px;
}
#u43 {
  position:absolute;
  left:2px;
  top:2px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
