body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:803px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:60px;
  top:112px;
  width:360px;
  height:640px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u1 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:60px;
  top:132px;
  width:360px;
  height:44px;
  font-size:14px;
  color:#FFFFFF;
  line-height:16px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:44px;
}
#u3 {
  position:absolute;
  left:2px;
  top:14px;
  width:356px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:60px;
  top:132px;
  width:44px;
  height:44px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:44px;
}
#u5 {
  position:absolute;
  left:2px;
  top:14px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:60px;
  top:112px;
  width:360px;
  height:20px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:20px;
}
#u7 {
  position:absolute;
  left:2px;
  top:2px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:494px;
  top:60px;
  width:100px;
  height:60px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u9 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:105px;
  top:189px;
  width:389px;
  height:-99px;
}
#u10_seg0 {
  position:absolute;
  left:-10px;
  top:-109px;
  width:20px;
  height:113px;
}
#u10_seg1 {
  position:absolute;
  left:-10px;
  top:-109px;
  width:403px;
  height:20px;
}
#u11 {
  position:absolute;
  left:95px;
  top:-107px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:594px;
  top:90px;
  width:109px;
  height:0px;
}
#u12_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:123px;
  height:20px;
}
#u13 {
  position:absolute;
  left:4px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:544px;
  top:120px;
  width:0px;
  height:117px;
}
#u14_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:131px;
}
#u15 {
  position:absolute;
  left:-50px;
  top:50px;
  width:100px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:703px;
  top:60px;
  width:100px;
  height:60px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u17 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:494px;
  top:237px;
  width:100px;
  height:60px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u19 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:494px;
  top:421px;
  width:100px;
  height:60px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u21 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:372px;
  top:451px;
  width:122px;
  height:0px;
}
#u22_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:136px;
  height:20px;
}
#u23 {
  position:absolute;
  left:11px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:703px;
  top:421px;
  width:100px;
  height:60px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u25 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:594px;
  top:451px;
  width:109px;
  height:0px;
}
#u26_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:123px;
  height:20px;
}
#u27 {
  position:absolute;
  left:4px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:494px;
  top:591px;
  width:100px;
  height:60px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u29 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:544px;
  top:481px;
  width:0px;
  height:110px;
}
#u30_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:124px;
}
#u31 {
  position:absolute;
  left:-50px;
  top:47px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
